*{
    padding: 0;
    margin: 0; 
}

body {
    background-color: #333;
}

header {
    background-color: #222;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    float: left;
    color: #fff;
}
nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}

nav a:hover {
  color: #999;
}

nav li:hover {
    background-color: #fff;
}

nav a#openup {
    display: none;
}

#divDrop {
    background-color: #222;
    padding: 1rem;
    width: fit-content;
    border-radius: 3px;
    margin: auto;
    margin-top: 25px;
}

.container {
    background-color: #222;
    color: #fff;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 3px;
}

.text-center {
    text-align: center;
}

.m-top-5 {
    margin-top: 5rem;
}

.bg-dark {
    background-color: #222 !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    padding: 1rem;
}

li {
    margin-left: 25px;
    list-style: none;
}
@media screen and (max-width: 580px) {
    nav {
        height: auto;
        border-bottom: 0;
    }
    
    nav ul {
        display: none;
        height: auto;
    }
    nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: var(--dark-grey);
        border-bottom: 1px solid #555;
    }
    
    nav a:hover {
        background: #444;
    }
    
    nav a#openup:after {
        content: "|||";
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        /* IE 9 */
        -webkit-transform: rotate(-90deg);
        /* Safari and Chrome */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }
    
    nav a#openup {
        display: block;
        background-color: var(--dark-grey);
        width: 100%;
        position: relative;
    }
    
    }
    .cf:before, .cf:after {
        content: "";
        display: table;
    }
    
    .cf:after {
        clear: both;
    }
    
    .cf {
        zoom: 1;
    }
    